<div>
  <h2>All Lessons</h2>
  <p>Learn more by clicking the title of articles below.</p>
</div>
<div class="article-wrapper">
      <div class="card card-lesson margin-top-lg padding-all-sm">
        <div>
          <form action="/article" method="POST">
            <h3>What happens when you get your first period?</h3>
            <p>
              Your most frequently asked questions about periods, answered here. &nbsp; 

              <input type="hidden" value="_first_period" name="article" />
              <button type="submit" class="get-article">
                &nbsp; Read more&nbsp;&raquo;
              </button>
            </p>
          </form>
        </div>
      </div>

      <div class="card card-lesson margin-top-lg padding-all-sm">
        <div>
          <form action="/article" method="POST">
            <h3>Which Period Product is Right for Me?</h3>
            <p>
              Pads, tampons, cups, and more. How do I know what to use? A guide
              to choosing the right items for your period. &nbsp; 

              <input type="hidden" value="_learn_products" name="article" />
              <button type="submit" class="get-article">
                Read more&nbsp;&raquo;
              </button>
            </p>
          </form>
        </div>
      </div>

      <div class="card card-lesson margin-top-lg padding-all-sm">
        <div>
          <form action="/article" method="POST">
            <h3>Red Flags: When to see a doctor</h3>
            <p>
              There are many symptoms that are common when going through your
              period. However, some symptoms are serious and require medical
              attention. &nbsp; 
              <input type="hidden" value="_red_flags" name="article" />
              <button type="submit" class="get-article">
                Read more&nbsp;&raquo;
              </button>
            </p>
          </form>
        </div>  
      </div>

      <div class="card card-lesson margin-top-lg padding-all-sm">
        <div>
          <form action="/article" method="POST">
            <h3>Facts and Myths About Periods</h3>
            <p>
              There are a lot of "myths" about periods. Separate fact and
              fiction about periods in this article. &nbsp; 
              <input type="hidden" value="_facts_myths" name="article" />
              <button type="submit" class="get-article">
                Read more&nbsp;&raquo;
              </button>
            </p>
          </form>
        </div>
      </div>

      <div class="card card-lesson margin-top-lg padding-all-sm">
        <div>
          <form action="/article" method="POST">
            <h3>Tips to Feel Better During Your Period</h3>
            <p>
              Periods can require us to take extra care of ourselves. It's
              important to know what to do so you can feel better. &nbsp; 
              <input type="hidden" value="_selfcare" name="article" />
              <button type="submit" class="get-article">
                Read more&nbsp;&raquo;
              </button>
            </p>
          </form>
        </div>  
      </div>
      
</div>