        <footer>
            <div>
                <p>This is footer.</p>
                <span>&copy; our team's name - 100devs</span>
            </div>
        </footer>
    <script src="/js/main.js"></script>
</body>
</html>