<div id="learn-products" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/period-supplies-box.jpg" class="d-block w-100" alt="" />
      <div>
        <h1>Which Period Product is Right for Me?
        </h1>
        <p>
          When you have your period, you'll need something to help you stay clean and comfortable. There are different things you can use, like pads, tampons, menstrual cups, and period panties. In this article, we'll explore these options to help you decide which one is best for you.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/holding-pad.jpg" class="d-block w-100" alt="" />
      <div>
        <h2>Pads</h2>
        <p>
          Pads are like absorbent stickers you put in your underwear to catch the blood. They're easy to use and come in different sizes and thicknesses. Here are some important things to know about pads: 
<ul>
  <li>Easy of Use: Pads are easy and simple to use. You just stick them to your underwear and change them when they get full.</li> <li>Comfort: They are comfy because you don't have to put anything inside your body, making them a good choice for beginners.</li>
         
         <li>Types: You can find pads for light, medium, and heavy flows, including ones for nighttime use.</li>
         <li>Environment: Some people worry that disposable pads create a lot of trash, which isn't great for the environment. Some companies offer reusable pads made of cloth, which can be washed in the sink or the washing machine.</li>
        </ul>
         
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/tampons-pink-bg.jpg" class="d-block w-100" alt="" />
      <div>
        <h2>Tampons</h2>
        <p>
          Tampons are small, absorbent tubes that you put inside your vagina to soak up the blood. Because they go inside your body, they need to be removed as stated on the package. If left in too long, they can cause a serious medical condition known as toxic shock syndrome. They're discreet and work well, but here's what you need to know:

          Easy of Use: It might take some practice to put tampons in comfortably. You need to choose the right size for your flow.
          
          Discreet: Tampons are tiny and don't show, which is good for staying hidden.
          
          Good for Activities: They work well when you're active, like swimming or playing sports.
          
          Environment:  Like pads, most tampons are thrown in the trash. Some companies offer “all-natural” and “organic” options which may be more biodegradable.
          
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/period-cup.jpg" class="d-block w-100" alt="" />
      <div>
        <h2>Menstrual Cups</h2>
        <p>
          What are some things you can do? 
          Menstrual cups are eco-friendly and reusable. They look like little cups made from special materials. They can stay inside for up to 12 hours. Here's what you should know:

          Environment:  Menstrual cups are great for the environment because you can use them for years, and they don't create much waste.
          
          Insertion / Removal: It might take some time to learn how to put in a menstrual cup. Removal may also be messy, especially if you are not at home. but 
          
          Cost-Effective: Even though they cost more upfront, you save money in the long run because menstrual cups are reusable. 
          Hygiene: Keeping your menstrual cup clean is really important, so it's a bit more work to wash them.
          
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/underwear.jpg" class="d-block w-100" alt="" />
      <div>
        <h2>Period Underwear
        </h2>
        <p>
          Period panties look like regular underwear, but they have layers that can soak up blood. Most people use these as a backup, or on days when they have very light bleeding. Here's what you should know:

          Comfortable: Period panties are easy to wear and comfortable, making them a good choice for teens who want an easy option.
          
          Absorbency: They come in different types, some that can hold more blood than others. They may not work for you if you are bleeding heavily.
          
          Environment:  Like menstrual cups, period panties are a sustainable choice because they can be reused.
          
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/liner-tampons.jpg" class="d-block w-100" alt="" />
      <div>
        <h2>Summary</h2>
        <p>
          The best period product is different for everyone. Each product comes with its own pros and cons. 

          Pads are usually the easiest to use, but they can feel uncomfortable once they are soaked. They cannot be used for swimming.
          
          Tampons can be used during swimming and sports, but may be tricky to learn how to insert them. There is also a risk for Toxic Shock Syndrome (TSS) if they are not used properly.
          
          Menstrual cups can be tricky to insert and remove, but they are reusable and need to be changed less frequently than pads and tampons.
          
          Period panties are reusable and can help as a backup method. They are not absorbent enough for heavy flows.
          
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/carousel/3.jpg" class="d-block w-100" alt="" />
      <div>
        <h5>Summary</h5>
        <p>
          Getting ready for your first period is a part of growing up. For most people, periods happen around every 28 days, and last between 2 to 7 days. Most people use pads and tampons to stay comfortable. Some people take medicine or use a heating pad to help with cramps. It should not be painful. If it is, you should talk to a doctor or nurse about it.
        </p>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
