<nav class="navbar fixed-bottom bg-body-tertiary navbar-expand">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href="#">Onni</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Onni</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav flex-grow-1">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/"><i class="fa-solid fa-house"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/learn"><i class="fa-solid fa-book"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa-regular fa-calendar"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user"><i class="fa-solid fa-user"></i></a>
          </li>
          
      </div>
    </div>
  </div>
</nav>