<%- include('partials/_header.ejs') %>

<body>
    <%- include('partials/_body-header.ejs') %>

    <section class="main padding-ver-lg">

        <div class="main-container main-container-dashboard">
            <div class="main-container-wrapper">
                <h1>Welcome to <span class="accent-text">onni.</span></h1>
                <div class="img padding-bottom-md"><img src="/images/uterus-waving.svg" alt="Uterus waving" aria-label="Uterus waving" class="img"></div>

            </div>
            <div class="main-container-wrapper">
                <h2 class="margin-top-lg">Ready to start learning?</h2>

                <div class="dashboard-wrapper">
                    <div class="card margin-top-md padding-all-sm main-learn">
                        <div class="dashboard-calendar">
                            <i class="fa-regular fa-newspaper dashboard-fa"></i>
                        </div>
                        <div>
                            <h3>Learn</h3>
                            <p>More than 60% of teenage women report not knowing about menstruation. <a href="/learn" class="dashboard-link" aria-label="Link to the learn page to view lessons" alt="Link to the learn page">View&nbsp;lessons &raquo;</a></p>
                        </div>
                    </div>

                
                    <div class="card padding-all-sm dashboard-login-btn">
                        <div class="btn-guest-dashboard padding-ver-xs margin-top-md">
                            <a href="/login" aria-label="link to login">Log In</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('partials/_nav.ejs') %>
    </section>
</body>

<%- include('partials/_footer.ejs') %>