<%- include('partials/_header.ejs') %>

<body>
    <%- include('partials/_body-header.ejs') %>

    <section class="main padding-ver-lg">

        <div class="main-container">
            <h1>Welcome to</h1>
            <h2>onni.</h2>
            <div class="img padding-bottom-md"><img src="/images/carousel/1.jpg"></div>
            <p>Lorem ipsum dolor sit amet consectetur.</p>

            <h1 class="margin-top-lg">Ready to start learning?</h1>

            <div class="card margin-top-md padding-all-sm main-learn">
                <h3>Learn</h3>
                <p>More than 60% of teenage women report not knowing about menstruation. <a href="/learn">Click to learn more >></a></p>
            </div>

            <div>
                <div class="card margin-top-md padding-all-sm main-learn-v2">
                    <h3>Calendar Tracking</h3>
                    <p>Track your cycle, it's completely private. <br><a href="/calendar">Track your cycle >></a></p>
                </div>
                <!-- <div class="card padding-all-sm">
                    <h3>Quizzes</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div> -->
            </div>
            
        </div>

        <%- include('partials/_nav.ejs') %>
    </section>
</body>

<%- include('partials/_footer.ejs') %>