<%- include('partials/_header.ejs') %>
<%- include('partials/_nav.ejs') %>

<body>
    <p>This is dashboard. This is where content goes.</p>
    <img src="/images/checkmark.svg"> I've included a checkmark to show you how to link to images.
</body>

<%- include('partials/_footer.ejs') %>