<%- include('partials/_header.ejs') %>

<body>
    <%- include('partials/_body-header.ejs') %>

    <section class="main padding-ver-lg">

        <div class="main-container">
            <h1>Hi there,</h1>
            <h2 class="heading-welcome">Welcome to <span>onni.</span></h2>

            <div class="img padding-top-md"><img src="/images/carousel/1.jpg"></div>

            <h2 class="margin-top-lg">Ready to start learning?</h2>

            <div class="card margin-top-md padding-all-sm main-learn">
                <h3>Learn</h3>
                <p>More than 60% of teenage women report not knowing about menstruation. &nbsp; <a href="/learn">Click to learn more.</a></p>
            </div>

            <div class="card margin-top-md padding-all-sm main-calendar">
                    <h3>Calendar</h3>
                    <p>Track your cycle. It's completely private! &nbsp; <a href="/calendar">Click to log.</a></p>  
            </div>
            
        </div>

        <%- include('partials/_nav.ejs') %>
    </section>
</body>

<%- include('partials/_footer.ejs') %>