<%- include('partials/_header.ejs') %>

<body>
    <%- include('partials/_body-header.ejs') %>

    <section class="main padding-ver-lg">

        <div class="main-container">
            <div class="img padding-bottom-md"><img src="/images/carousel/1.jpg"></div>
            <p>Lorem ipsum dolor sit amet consectetur.</p>

            <h2 class="margin-top-lg">Ready to start learning?</h2>

            <div class="card margin-top-md padding-all-sm main-learn">
                <h3>Learn</h3>
                <p>More than 60% of teenage women report not knowing about menstruation. <a href="#">Click to learn more.</a></p>
            </div>

            <div class="main-learn-sm margin-top-lg">
                <div class="card padding-all-sm">
                    <h3>Calendar</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing</p>
                </div>
                <div class="card padding-all-sm">
                    <h3>Quizzes</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <%- include('partials/_nav-bottom.ejs') %>
        </div>


    </section>
</body>

<%- include('partials/_footer.ejs') %>