<%- include('partials/_header.ejs') %>

<body>
    <%- include('partials/_body-header.ejs') %>

    <section class="main padding-ver-lg">

        <div class="main-container">
            <h1>Welcome to</h1>
            <h2>onni.</h2>
            <div class="img padding-bottom-md"><img src="/images/carousel/1.jpg"></div>

            <h3 class="margin-top-lg">Ready to start learning?</h3>

            <div class="card margin-top-md padding-all-sm main-learn">
                <h3>Learn</h3>
                <p>More than 60% of teenage women report not knowing about menstruation. <a href="/learn">Click to learn more.</a></p>
            </div>

            <div class="btn-guest-dashboard padding-ver-xs margin-top-lg">
            <a href="/login">Log In</a>
        </div>

            <%- include('partials/_nav.ejs') %>
        </div>


    </section>
</body>

<%- include('partials/_footer.ejs') %>