<%- include('partials/_header.ejs') %>

<body>
    <%- include('partials/_body-header.ejs') %>

    <section class="main padding-ver-lg">

        <div class="main-container">
            <div class="img padding-bottom-md"><img src="/images/carousel/1.jpg"></div>
            <p>Lorem ipsum dolor sit amet consectetur.</p>

            <h2 class="margin-top-lg">Ready to start learning?</h2>

            <div class="card margin-top-md padding-all-sm main-learn">
                <h3>Learn</h3>
                <p>More than 60% of teenage women report not knowing about menstruation. <a href="/learn">Click to learn more.</a></p>
            </div>

            <div class="btn-guest-dashboard padding-ver-xs margin-top-lg">
            <a href="/login"><h2>Log In</h2></a>
        </div>

            <%- include('partials/_nav.ejs') %>
        </div>


    </section>
</body>

<%- include('partials/_footer.ejs') %>