<%- include('partials/_header.ejs') %>

<body>
    <%- include('partials/_nav-bottom.ejs') %>
    <%- include('partials/_body-header.ejs') %>

    <section class="main padding-ver-lg">
        <div class="main-container lesson-container">
            <div>
                <h2>All Lessons</h2>
                <p>Learn more by clicking the title of articles below.</p>            
            </div>            

            <div class="card card-lesson margin-top-lg padding-all-sm">
                <div>
                    <h3>What happens when you get your first period?</h3>
                    <p>Maybe a one-sentence summary, then link to Read More/Carousel?</a></p>
                </div>
                <div class="lesson-progress">
                    <div><span class="completed">5/5</span></div>
                    <div><span class="check"><i class="fa-solid fa-check"></i></span></div>
                </div>
            </div>

            <div class="card card-lesson margin-top-lg padding-all-sm">
                <div>
                    <h3>What is menstruation?</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores similique vel sed laudantium ipsam, blanditiis numquam recusandae</a></p>
                </div>
                <div class="lesson-progress">
                    <div><span class="completed">5/5</span></div>
                    <div><span class="check"><i class="fa-solid fa-check"></i></span></div>
                </div>
            </div>

            <div class="card card-lesson margin-top-lg padding-all-sm">
                <div>
                    <h3>What is menstruation?</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores similique vel sed laudantium ipsam, blanditiis numquam recusandae</a></p>
                </div>
                <div class="lesson-progress">
                    <div><span class="completed">5/5</span></div>
                    <div><span class="check"><i class="fa-solid fa-check"></i></span></div>
                </div>
            </div>

            <div class="card card-lesson margin-top-lg padding-all-sm">
                <div>
                    <h3>What is menstruation?</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores similique vel sed laudantium ipsam, blanditiis numquam recusandae</a></p>
                </div>
                <div class="lesson-progress">
                    <div><span class="completed">5/5</span></div>
                    <div><span class="check"><i class="fa-solid fa-check"></i></span></div>
                </div>
            </div>

            <div class="card card-lesson margin-top-lg padding-all-sm">
                <div>
                    <h3>What is menstruation?</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores similique vel sed laudantium ipsam, blanditiis numquam recusandae</a></p>
                </div>
                <div class="lesson-progress">
                    <div><span class="completed">5/5</span></div>
                    <div><span class="check"><i class="fa-solid fa-check"></i></span></div>
                </div>
            </div>

        </div>


    </section>
</body>

<%- include('partials/_footer.ejs') %>