<%- include('partials/_header.ejs') %>

<body>
    <%- include('partials/_body-header.ejs') %>

    <section class="main padding-ver-lg">

        <div class="main-container">
   
    <div class="container">
        <h1>Hi there,<br>
        Welcome to onni.</h1>
        <passage-auth app-id="<%= appID %>"></passage-auth>
        <script src="https://psg.so/web.js"></script>
        </div>

        <div class="btn-guest padding-ver-xs margin-top-lg">
            <a href="/guest"><h2>Continue as Guest</h2></a>
        </div>
    </div>
    </section>
</body>

<%- include('partials/_footer.ejs') %>