<%- include('partials/_header.ejs') %>
<body>
    <%- include('partials/_nav.ejs') %>
   


    <div class="container">
        <div class="card">
            <div class="card-body">
                <p>This is login page.
            </div>
        </div>
    </div>


<passage-auth app-id="TOKH0H9FYxmeA5p8zboGwyeb"></passage-auth>
<script src="https://psg.so/web.js"></script>

<%- include('partials/_footer.ejs') %>