<%- include('partials/_header.ejs') %>

<body>
    <%- include('partials/_body-header.ejs') %>
    <%- include('partials/_nav.ejs') %>
   
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h1>Hi there,<br>It looks like you need to log in to see this page!</h1> 
                <div class="btn-change-pw padding-ver-xs margin-top-lg">
                    <a href="login.ejs">Login</a>
                    </div>
            </div>
        </div>
    </div>

<%- include('partials/_footer.ejs') %>
</body>