<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/carousel/yes-no.jpg" class="d-block w-100" alt="yes-no checklist" aria-label="yes-no checklist" />
      <div>
        <h1>Facts and Myths About Periods: Sorting Out the Truth</h1>
        <p>
          Periods, or menstruation, are a natural part of growing up for people with female reproductive systems. But there are so many myths and misconceptions surrounding this topic. Let's separate fact from fiction and address some common period myths.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/carousel/kayak.jpg" class="d-block w-100" alt="kayak in water" aria-label="kayak in water" />
      <div>
        <h1>Myth: You Can't Swim or Exercise During Your Period</h1>

          <ul>
            <li>Busted: This is untrue! You can swim, play sports, or exercise during your period. There are special period products like tampons, menstrual cups, and period-proof swimwear that allow you to stay active without any leaks.</li>
        </ul>
         

      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/carousel/pregnancy-test.jpg" class="d-block w-100" alt="pregnancy test" aria-label="pregnancy test" />
      <div>
        <h1>Myth: You Can't Get Pregnant on Your Period</h1>

          <ul>
            <li>Busted: While it's less likely, people who have unprotected sex during their period can still get pregnant. Sperm can survive in the body for several days, and some people ovulate after their period ends. This can result in a pregnancy.</li>
         
        </ul>

      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/carousel/calendar.jpg" class="d-block w-100" alt="calendar" aria-label="calendar" />
      <div>
        <h1>Myth: Everyone Has a Regular 28-Day Cycle</h1>

        <ul>
          <li>Busted: Periods vary from person to person. They can be shorter, longer, or irregular. What's most important is understanding your own cycle and recognizing what's normal for you. If you have concerns about irregular periods, talk to a healthcare provider.</li>
         
        </ul>

      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/carousel/handwash.jpg" class="d-block w-100" alt="handwash" aria-label="handwash" />
      <div>
        <h1>Myth: Period Blood Is Gross or Unhygienic</h1>
        <ul>
          <li>Period blood is a natural bodily fluid. The only "extra" thing you need to do to stay clean is to change your products (pads/tampons) regularly and wash your hands with soap and water.</li>
    
        </ul>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/carousel/woman-pain.jpg" class="d-block w-100" alt="woman in pain" aria-label="woman in pain" />
      <div>
        <h1>Myth: Period Pain is Normal</h1>

<ul> 
          <li>Busted: While some discomfort is normal, severe period pain is not. If your periods are extremely painful or upsetting, it is important to talk to your doctor. </li>
        </ul>
          

      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/carousel/pad-purse.jpg" class="d-block w-100" alt="pad purse" aria-label="pad purse" />
      <div>
        <h1>Myth: You Can't Talk About Periods in Public</h1>

<ul> 
          <li>Busted: There's nothing wrong with discussing periods openly. In fact, talking about it can break down stigmas and provide information and support to others. Periods are a common part of life and shouldn't be considered a taboo topic.</li>
        </ul>
          

      </div>
    </div>
  </div>
  <button
    id="carousel-button-prev"
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    id="carousel-button-next"
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
