<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/carousel/1.jpg" class="d-block w-100" alt="" />
      <div>
        <h1>What Happens When You Get Your First Period</h1>
        <p>
          If you have a uterus (also called “the womb”), something called
          "getting your period" will happen as you grow up. It's a natural part
          of growing up, but you might have questions about what to expect. It's good to be prepared.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/carousel/2.jpg" class="d-block w-100" alt="" />
      <div>
        <h1>What Is Your Period?</h1>
        <p>
          Your period is when your body starts to release a liquid from your body. This liquid comes from the uterus and out of the vagina. This liquid is called “period blood” or "menstrual fluid". It's not like regular blood. It will be a darker red than the blood you see from a papercut. The “bleeding” phase lasts between 2 to 7 days. The typical amount of fluid released is about 3 ounces.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/carousel/3.jpg" class="d-block w-100" alt="" />
      <div>
        <h1>When Does It Start?</h1>
        <p>
          There's no exact age when it starts. It's different for everyone. Most
          people start their periods between the ages of 8 and 18. A few people
          start before the age 10, and most people have had one period by the
          time they are 14.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/carousel/3.jpg" class="d-block w-100" alt="" />
      <div>
        <h1>Getting Ready</h1>
        <p>
          What are some things you can do? 
          <ul>
            <li>Learn: Read information about periods so you know what is happening.</li>
            <li>Talk to Someone: You can talk to a
          trusted adult. This could be a teacher, doctor, school nurse, or
          counselor, parent, or another family member. They can help you
          understand what's going on. </li>
          <li>Have Supplies: You'll need pads or tampons
          to stay comfortable during your period.</li> 
        </ul>
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/carousel/3.jpg" class="d-block w-100" alt="" />
      <div>
        <h1>What to Expect
        </h1>
        <p>
          You might notice blood in your underwear. Use pads or tampons to help absorb the blood and stay comfortable. For most people, periods happen around every 28 days, and last between 2 to 7 days. When you first start getting periods, they might not follow this regular schedule. That is normal.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/carousel/3.jpg" class="d-block w-100" alt="" />
      <div>
        <h1>What if it hurts?</h1>
        <p>
          When your period starts, you might feel some cramps or discomfort. Some people use a hot water bottle, heating pad, or medicine to help with the discomfort. Periods are not supposed to hurt really badly. Most people feel uncomfortable, but not severe pain. If your period causes you pain, it is important to talk to a doctor or nurse so they can help you.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/carousel/3.jpg" class="d-block w-100" alt="" />
      <div>
        <h1>Summary</h1>
        <p>
          Getting ready for your first period is a part of growing up. For most people, periods happen around every 28 days, and last between 2 to 7 days. Most people use pads and tampons to stay comfortable. Some people take medicine or use a heating pad to help with cramps. It should not be painful. If it is, you should talk to a doctor or nurse about it.
        </p>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
