<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/carousel/1.jpg" class="d-block w-100" alt="...">
      <div>
        <h3>first period</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt officia culpa labore mollitia commodi blanditiis nemo aperiam. Vitae eligendi molestias, minus odit voluptatem deleniti ad cupiditate ut? Distinctio, nesciunt illum?</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/carousel/2.jpg" class="d-block w-100" alt="...">
      <div>
        <h3>label</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur distinctio quidem corporis ipsum at eligendi iure ratione vel ipsam recusandae ullam quas perferendis accusamus impedit inventore sapiente iste, fuga voluptate.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/carousel/3.jpg" class="d-block w-100" alt="...">
      <div>
        <h3>label</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi odit, atque vel delectus aliquam mollitia nulla, soluta amet, cumque dignissimos ducimus optio dicta. Repellat dolore excepturi, adipisci itaque enim rem!</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>