<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/doctor.jpg" class="d-block w-100" alt="" />
      <div>
        <h1>Red flags: When to see a doctor?
        </h1>
        <p>
          Periods, or menstruation, comes with its share of symptoms. Some are typical, but some require medical attention. There are many treatments available. Understanding which are typical and which might require a doctor's attention is important. Let's compare and contrast common period symptoms with signs that should prompt a visit to your healthcare provider.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/woman-cramps.jpg" class="d-block w-100" alt="" />
      <div>
        <h2>Menstrual Cramps (Dysmenorrhea)</h2>
        <p>
          <ul>
            <li>Common: Many people experience mild to moderate cramps during their periods. You can feel these in the lower abdomen (below your stomach). Cramps happen when the muscles of the uterus are contracting.</li>
            
            <li>When to See a Doctor: If your cramps are severe and not helped by over-the-counter pain medicine, or if they disrupt your daily activities (such as studying, playing sports, or socializing), it's a good idea to consult a doctor. These could be a sign that something is wrong.</li>
            
        </ul>
         
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/headdown-pain.jpg" class="d-block w-100" alt="" />
      <div>
        <h2>Mood Swings and Irritability</h2>
        <p>
          <ul>
            <li>Common: Changes in hormones can lead to mood swings. You might feel more easily sad or annoyed. This can sometimes be part of something called PMS (Premenstrual Syndrome).</li>
          
            <li>When to See a Doctor:  If mood swings are prevent you from living your daily life, you should talk to a healthcare professional. They can help figure out how to help your emotions feel more managegable throughout the cycle.</li>
        </ul>
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/woman-headache.jpg" class="d-block w-100" alt="" />
      <div>
        <h2>Breast Tenderness</h2>
        <p>
<ul>
          <li>Common: Many individuals experience breast tenderness or soreness in the days leading up to their period. This is likely caused by hormonal changes.</li>

            <li>When to See a Doctor: If breast tenderness is extremely painful, long-lasting, or accompanied by unusual lumps, it's crucial to seek medical advice to rule out any serious conditions.</li>
        </ul>
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/pads-decoration-red.jpg" class="d-block w-100" alt="" />
      <div>
        <h2>Menstrual Flow
</h2>
        <p>
          <li>Common: Menstrual flow refers to the amount of fluid that is released during a period. It can vary from person to person and even from one period to the next. It can range from light to heavy.</li>
          
          <li>When to See a Doctor: If your period flow is extremely heavy and requires changing pads or tampons every hour or two, it may be a sign of a medical condition called menorrhagia. This can make you tired and dizzy. If your periods are extremely light or if they suddenly stop, it is important to talk to your doctor.</li>
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/pad-red-pompoms.jpg" class="d-block w-100" alt="" />
      <div>
        <h2>Period Fluids (Discharge)</h2>
        <p>
<ul> 
          <li>Common: Most periods are dark red. During the beginning and end of the cycle, it may appear more dark brown. You may see some "clots" which are part of the lining that is being shed from the uterus. This is considered normal.</li>
          
          <li>When to See a Doctor: If you notice unusual or fluids or discharge, it might be a sign to see a doctor. If you notice that the discharge smells "foul" (and not like regular blood), it is also important to see a doctor because this could be a sign of an infection.
          </li>
        </ul>
          
        </p>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
