<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/carousel/open-book.jpg" class="d-block w-100" alt="open book" aria-label="open book" />
      <div>
        <h1>Resources</h1>
        <p>
          There is a lot of information online about periods. Unfortunately,
          some of it is not true or just plain wrong! Don't worry, we have
          checked these resources - so you can trust them.
        </p>
        <h2>How-To</h2>
        <a
          href="https://menstrupedia.com/articles/girls/how-tampon"
          target="_blank"
          aria-label="link to menstrupedia.com article"
          >How to Use a Tampon</a
        >
        <p>Learn how to insert a tampon, with illustrations.</p>
        <a
          href="https://menstrupedia.com/articles/girls/sanitary-dispose"
          target="_blank"
          aria-label="link to menstrupedia.com article 2"
          >How to Dispose of Tampons & Pads</a
        >
        <p>
          Learn how to properly throw away used tampons and pads. Hint: Do not
          flush them down the toilet!
        </p>
        <h2>Videos & Articles</h2>
        <a
          href="https://kidshealth.org/en/teens/menstruation.html"
          target="_blank"
          aria-label="link to kidshealth.org article"
          >All About Periods</a
        >
        <p>
          Listen to or read the article, and watch a video about what happens
          when someone gets a period.
        </p>
        <a href="https://kidshealth.org/en/kids/grow/" target="_blank" aria-label="link to kidshealth.org article 2"
          >Puberty & Growing Up</a
        >
        <p>
          Periods are just one part of growing up. Learn more about other
          topics, such as: breasts & bras, drugs, school stuff, skin problems,
          and more.
        </p>
        <a
          href="https://www.youtube.com/watch?v=FBfAD5z-g0Q&list=PLK7J8Xq7wq-PxSYok2zpeidjnLbvu0wzd"
          target="_blank"
          aria-label="link to youtube video about periods"
          >Periods FAQ</a
        >
        <p>
          Watch youtube videos that answer your most common questions about
          periods. Available in multiple languages.
        </p>
        <h2>Get Help</h2>
        <a href="https://www.crisistextline.org/" target="_blank" aria-label="link to crisistextline.org" 
          >Crisis Text Line</a
        >
        <p>
          If you are feeling overwhelmed, you can talk to someone online. Text,
          chat, or message on whatsapp. Free 24/7 support at your fingertips.
        </p>
        <h2>Make an Appointment</h2>
        <a href="https://www.zocdoc.com/"
        target="_blank"
        aria-label="link to zocdoc.com"
        >zocdoc.com</a>
        <p>
          Make an appointment online with local doctors who take your insurance.
        </p>

        <h2>Local Resources</h2>
        <a href="https://www.usa.gov/state-health" target="_blank" aria-label="link to usa.gov/state-health"
          >State Department of Health</a
        >
        <p>
          Find free or low cost programs, clinics, and resources in your area.
        </p>
      </div>
    </div>
  </div>
</div>
