<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/carousel/selfcare-not-selfish.jpg" class="d-block w-100" alt="" />
      <div>
        <h1>Tips to Feel Better During Your Period</h1>
        <p>
          Practicing self-care during your period can make the it more comfortable and manageable. In this article, we will explore various self-care practices to help you feel your best.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/carousel/fruits.jpg" class="d-block w-100" alt="" />
      <div>
        <h1>Food, Water, and Exercise</h1>
        <p>
            <li>Eat healthy foods: Eating fruits, vegetables, whole grains, and lean proteins can help you feel better during your period. </li>
              <li>Drink water: Staying hydrated is also important, so remember to keep water nearby and drink water when you are thirsty.</li>
            <li>Exercise: Moving can help with cramps and mood swings. Choose an activity you enjoy, such as dancing, walking, yoga, or swimming. Listen to your body. If you feel too tired or uncomfortable, don't push yourself too hard.
              </li>
        </ul>
         
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/carousel/woman-nap.jpg" class="d-block w-100" alt="" />
      <div>
        <h1>Rest and Sleep</h1>
        <p>
            Your body may need more rest during your period. Allow yourself to get extra sleep if possible. Taking short naps can also help. A good night's sleep is essential for overall well-being and can help you manage discomfort.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/carousel/bathtub.jpg" class="d-block w-100" alt="" />
      <div>
        <h1>Heat Therapy</h1>
        <p>
Applying heat to sore body parts or to cramps can help. A warm water bottle, heating pad, or a warm bath can be incredibly soothing. The heat helps relax the muscles and reduce pain.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/carousel/tampons-cup-pink.jpg" class="d-block w-100" alt="" />
      <div>
        <h1>Hygiene and Comfort</h1>
        <p>Choosing the right menstrual products, like pads, tampons, or menstrual cups, can improve your comfort during your period. Change these products regularly to maintain hygiene and prevent leaks. Wear comfortable, loose-fitting clothing to reduce discomfort and make you feel more at ease.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/carousel/woman-dog-yoga.jpg" class="d-block w-100" alt="" />
      <div>
        <h1>Manage Stress</h1>
        <p>
          Stress can makes period symptom worse. Deep breathing, meditation, and mindfulness can help you relax and stay calm. Calming activities, such as coloring or listening to soothing music can also help.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/carousel/pinkheart-face.jpg" class="d-block w-100" alt="" />
      <div>
        <h1>Self-Compassion</h1>
        <p>
          Be kind to yourself during your period. Recognize that your body is going through natural changes. Treat yourself with compassion and love.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/carousel/pills-pink.jpg" class="d-block w-100" alt="" />
      <div>
        <h1>Pain Medicine</h1>
        <p>
          Over-the-counter medicine can be helpful in managing cramps, pain, and headaches. Talk with a healthcare provider or pharmacist to make sure that you're using the right medication and dosage.
        </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/carousel/heart-hands.jpg" class="d-block w-100" alt="" />
      <div>
        <h1>Stay Connected</h1>
        <p>
         Remember to reach out to others if you need extra help or support. If your period is too painful and self-care is not helping, you should talk to a doctor.
        </p>
      </div>
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
